nav {
  display: flex;
  justify-content: space-between;
  height: 2em;
  background-color: #8127b9;
  color: white;
  font-size: 1.3em;
}

nav .menu ul {
  display: flex;
}

nav .menu li {
  margin: 8px;
}

nav .menu .active {
  color: #a5e6ba;
}

i {
  margin: 5px;
  font-size: 1.3em;
}

.questionlist button {
  margin: 0 20px;
}

.question {
  margin: 12px;
}

.question-info {
  display: flex;
  justify-content: space-between;
}

.question-date {
  font-size: 0.8em;
}

.question-text {
  display: flex;
  justify-content: space-around;
  border: 1px solid #8127b9;
  border-radius: 6px;
}

.question-option {
  flex: 1 50%;
  padding: 16px;
  align-self: center;
  text-align: center;
}
