/*********** General *************/
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
  margin: 20px;
  font-size: 3em;
  color: #8127b9;
  text-align: center;
}

button {
  cursor: pointer;
}

/*********** Navigation ***********/
nav {
  display: flex;
  justify-content: space-between;
  height: 2em;
  padding: 5px 10px 5px 25px;
  background-color: #8127b9;
  color: white;
  font-size: 1.3em;
}

nav .menu ul {
  display: flex;
  height: 100%;
}

nav .menu li {
  margin: 0 8px;
}

nav .menu .active {
  color: #a5e6ba;
}

nav .auth-menu {
  display: flex;
  align-items: baseline;
}

nav small {
  font-size: 0.7em;
  margin-right: 10px;
}

nav i {
  margin: 5px;
  font-size: 1.3em;
}

/********** Question List *********/

.questionlist button {
  margin: 10px 20px;
  border-bottom: 2px solid white;
  cursor: pointer;
  line-height: 1em;
  font-size: 1.2em;
}
.questionlist button:hover {
  border-bottom: 2px solid #8127b9;
  color: #8127b9;
}
.questionlist button.active {
  color: #8127b9;
}
.questionlist button.active:hover {
  border-bottom: 2px solid white;
  cursor: auto;
  color: #8127b9;
}

.questionlist h4 {
  text-align: center;
}

/******** Question **************/
.question {
  margin: 20px;
}

.question-info {
  display: flex;
  height: 1.5em;
}

.question .name {
  padding: 0 20px;
  border-radius: 10px 10px 0 0;
  background-color: #8127b9;
  color: white;
}

.question small {
  font-size: 0.7em;
}

.question .avatar {
  height: 50px;
  width: 50px;
  margin-left: -15px;
  margin-top: -15px;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid #8127b9;
  background-color: #e7e0f5;
}

.question .date {
  margin-left: auto;
  font-size: 0.8em;
}

.question-text {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 0 10px 10px 10px;
  background-color: #e7e0f5;
}

.question-option {
  position: relative;
  flex: 5 40%;
  padding: 25px;
  align-self: center;
  text-align: center;
}

.question-option p {
  font-size: 1.3em;
}

.question-option p.one {
  font-size: 1.3em;
  color: #12aaca;
}

.question-option p.two {
  font-size: 1.3em;
  color: #fc8f68;
}

.question .vote button {
  margin: 10px auto;
  height: 2em;
  width: 4em;
  border: 2px solid #8127b9;
  border-radius: 10px;
  background-color: #12aaca;
}

.question .vote i {
  position: absolute;
  bottom: -10px;
  left: 50%;
  font-size: 2em;
  color: #8127b9;
}

/******** Question-stats ***********/
.question-stats {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  border-radius: 10px;
  overflow: hidden;
  background-color: #e7e0f5;
}

.question-stats .option {
  display: flex;
}
.question-stats .option.one {
  background-color: #12aaca;
  color: white;
}
.question-stats .option.two {
  justify-content: flex-end;
  background-color: #fc8f68;
  color: white;
}

.question-stats .option p {
  margin: 0 12px;
}

/**********+ New question form ********+*/
.new-question-form form {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 30px auto;
}

.new-question-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #8127b9;
  border-radius: 6px;
}

.new-question-form small {
  margin: auto;
}

.new-question-form button:disabled {
  cursor: not-allowed;
}

/************ Leaderboard ******************/
.score-card {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 16px;
  padding: 8px;
  height: 3em;
  border: 1px solid #8127b9;
  border-radius: 6px;
}

.score-card .name {
  margin-left: 15px;
  margin-right: auto;
}

.score-card .avatar {
  height: 60px;
  width: 60px;
  margin-left: -20px;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid #8127b9;
  background-color: #e7e0f5;
}

.score,
.score-sum {
  justify-self: flex-end;
  font-size: 1.6em;
  color: #8127b9;
}

.score-sum {
  font-size: 2.2em;
}

.score-card small {
  font-size: 0.5em;
}

/************* Login and register ********/
form {
  max-width: 400px;
  margin: 10px auto;
  padding: 10px;
}

.form-control {
  margin-bottom: 5px;
}

.form-control label {
  display: block;
}

.form-control input {
  display: block;
  height: 2.5rem;
  width: 100%;
  padding: 5px;
  border: 1px solid #8127b9;
  border-radius: 5px;
  background-color: white;
  font-size: 1.2rem;
}

.form-control input:focus {
  border-color: var(--prussian-blue);
}

.form-control.success input {
  border-color: var(--success-green);
}

.form-control.error input {
  border-color: var(--imperial-red);
}

.form-control .error-msg {
  height: 1.4rem;
  color: var(--imperial-red);
  font-size: 0.8rem;
}

form button {
  height: 2.5rem;
  width: 100%;
  margin-top: 1rem;
  border: 2px solid #8127b9;
  border-radius: 5px;
  background-color: #e7e0f5;
  font-size: 1.1rem;
  transition: 0.2s;
}

form button:hover {
  background-color: #8127b9;
  color: white;
}
